$day-gap: 1px;
$day-border: 1px;
$day-size: 98px;
$day-offset: $day-size + 2 * $day-border + $day-gap;
$calendar-width: 7 * $day-offset - $day-gap;
$weekdays: 'mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun';
